/*This is a default CSS document*/
*{
    padding:0px;
    margin:0px;
}
/*This is the start of the webpage*/
.wrapper{
    min-height:1000px;
    min-width:1000px;
    padding:30px;
    background-color:white;
}
    /*Define the classes below*/
    .header{
        height:35px;
        width:500px;
        border:solid black 3px;
    }
        .header ul{
            list-style-type:none;
            margin:0px;
            padding:0px;
        }
            .header ul li{
                display:inline;
                margin:10px;
                font-size:20px;
            }
    .user{
        border-bottom:gray solid 5px;
        margin-bottom:10px;
        width:500px;
        height:50px;
    }
    .form_input{
        width:500px;
        height:250px;
    }
        .form_input p{
            margin-top:10px;
            display:block;
            margin-bottom:3px;
            margin-left:20px;
        }
        .box{
            display:block;
            border:2px solid black;
            margin-left:20px;
        }
    button{
        border-radius:4px;
        background-color:skyblue;
        width:75px;
        height:40px;
    }
    table{
        margin:10px;
    }
        tr{
            border:skyblue solid 2px;
            padding:10px;
        }
            td{
                border:gray solid 2px;
                height:20px;
                width:180px;
                margin-top:3px;
            }